# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder
instance/

# Environment variables
.env
*.env

# Logs and database files
*.log
*.sqlite3
*.sql
*.sqlite
*.hdf5

# Pytest cache and coverage reports
.cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environments
venv/
ENV/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.vscode/
.idea/

# Deployment related
*.bak
*.swp
*.swo
.DS_Store
